## Estadistica Descriptiva

In [1]:
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# descargar el archivo
# descarga de archivo
url_amz="https://raw.githubusercontent.com/NechuBM/dataset/main/precios_amazon.csv"
!wget {url_amz} -q -O precios_amazon.csv
url_eth="https://raw.githubusercontent.com/NechuBM/dataset/main/precios_ethereum.csv"
!wget {url_eth} -q -O precios_ethereum.csv
# fecha de inicio: 2021-02-01
# fecha final: 2022-04-01

## Medidas de tendencia central

In [3]:
df_amz = pd.read_csv('precios_amazon.csv', sep=';', decimal=',')
df_eth = pd.read_csv('precios_ethereum.csv', sep=';', decimal=',')

In [4]:
df_eth.head(8)

,Unnamed: 0.1,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume
0,0,0,2021-01-31,1376.823608,1378.916016,1288.501587,1314.986206,1314.986206,25198853581
1,1,1,2021-02-01,1314.855225,1373.845825,1274.357788,1369.040527,1369.040527,29210670920
2,2,2,2021-02-02,1369.505127,1542.990967,1362.771240,1515.193726,1515.193726,45437142801
3,3,3,2021-02-03,1514.769653,1660.909546,1510.010254,1660.909546,1660.909546,41874566399
4,4,4,2021-02-04,1661.170166,1689.186646,1561.853516,1594.762695,1594.762695,44396871836
5,5,5,2021-02-05,1594.793335,1756.510986,1594.793335,1718.650879,1718.650879,40108628454
6,6,6,2021-02-06,1717.797485,1738.314453,1649.068726,1677.846802,1677.846802,39873420648
7,7,7,2021-02-07,1677.605713,1690.036621,1501.750244,1614.227783,1614.227783,39889440151

In [5]:
## Cuantos elementos tenemos en el dataframe amz
len(df_amz)

295

In [6]:
## Cuantos elementos tenemos en el dataframe eth
len(df_eth)

425

In [7]:
## En ethereum si tenemos sabados y domigos cotizando porque es una moneda de cotizacion diaria y amzon sabado y domingo no abren los mercados
def descartar_dias(df, days):
    """Descartar elementos del DataFrame si vienen incluidos en la lista days"""
    # crear copia para no afectar al original
    df_discard = df.copy()
    # reiniciar el indice
    df_discard.reset_index(inplace=True)
    # modificar el formato de los datos de la columna 'Date' a datetime
    df_discard['Date'] = pd.to_datetime(df_discard['Date'])
    # crear una nueva columna con los dias de la semana a partir de la columna 'Date'
    df_discard['Day'] = df_discard['Date'].dt.day_name()
    # descartar dias que esten la lista 'days'
    df_discard = df_discard.loc[~df_discard['Day'].isin(days)]
    return df_discard

In [8]:
df_eth_week = descartar_dias(df_eth, ['Saturday', 'Sunday'])
df_eth_week.head(10)

,index,Unnamed: 0.1,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,Day
1,1,1,1,2021-02-01,1314.855225,1373.845825,1274.357788,1369.040527,1369.040527,29210670920,Monday
2,2,2,2,2021-02-02,1369.505127,1542.990967,1362.771240,1515.193726,1515.193726,45437142801,Tuesday
3,3,3,3,2021-02-03,1514.769653,1660.909546,1510.010254,1660.909546,1660.909546,41874566399,Wednesday
4,4,4,4,2021-02-04,1661.170166,1689.186646,1561.853516,1594.762695,1594.762695,44396871836,Thursday
5,5,5,5,2021-02-05,1594.793335,1756.510986,1594.793335,1718.650879,1718.650879,40108628454,Friday
8,8,8,8,2021-02-08,1613.642212,1770.590820,1571.579956,1746.616821,1746.616821,48012285956,Monday
9,9,9,9,2021-02-09,1746.926147,1815.963623,1711.620605,1768.035034,1768.035034,44180727529,Tuesday
10,10,10,10,2021-02-10,1768.039795,1826.696777,1686.542358,1744.243408,1744.243408,41916084617,Wednesday
11,11,11,11,2021-02-11,1743.714233,1806.539062,1708.679199,1783.797974,1783.797974,36021495262,Thursday
12,12,12,12,2021-02-12,1783.489136,1861.356934,1744.168945,1843.532593,1843.532593,37905036865,Friday

In [9]:
len(df_eth_week)

304

In [10]:
df_amz.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,1/2/2021,3242.360107,3350.26001,3235.030029,3342.879883,3342.879883,4160200
1,2/2/2021,3380.000000,3427.73999,3361.129883,3380.000000,3380.000000,7098600
2,3/2/2021,3425.010010,3434.00000,3308.620117,3312.530029,3312.530029,7088800
3,4/2/2021,3330.000000,3347.00000,3277.750000,3331.000000,3331.000000,3670700
4,5/2/2021,3319.000000,3377.00000,3302.709961,3352.149902,3352.149902,3620800

In [11]:
## Nos quedamos con el precio de cierre
precios_amz = df_amz['Close'].tolist()
precios_eth = df_eth_week['Close'].tolist()

## Media

In [12]:
def media(lista):
    return sum(lista) / len(lista)

In [13]:
# Media AMZ
media_aws = media(precios_amz)
print(media_aws)

3299.830895766101

In [14]:
# Media ETH
media_eth = media(precios_eth)
print(media_eth)

2927.1955982409027

In [15]:
# Mediana 
def mediana(lista):
    lista_sorted = sorted(lista)
    return   (lista_sorted[len(lista_sorted) // 2 ] +  lista_sorted[len(lista_sorted) // 2 -1]) / 2  if len(lista_sorted) % 2 == 0 else lista_sorted[len(lista_sorted) // 2 ]

In [16]:
# Mediana AMZ
mediana_aws = mediana(precios_amz)
print(mediana_aws)

3312.530029

In [17]:
# Mediana ETH
mediana_eth = mediana(precios_eth)
print(mediana_eth)

2885.09033203125

In [18]:
def moda(lista):
    from collections import Counter
    """
    Encuentra el elemento más repetido en una lista.
    Retorna el elemento más frecuente.
    """
    if not lista:
        return None
    
    contador = Counter(lista)
    elemento, frecuencia = contador.most_common(1)[0]
    return elemento

In [19]:
# Mediana ETH
moda_eth = moda(precios_eth)
print(moda_eth)

1369.04052734375

In [20]:
# moda AMZ
moda_aws = moda(precios_amz)
print(moda_aws)

3052.030029

In [23]:
## Medidas de dispersion
pd.DataFrame(
    [[media_aws, mediana_aws, moda_aws],
    [media_eth, mediana_eth, moda_eth]], 
    index = [['AMZ', 'ETH']],
    columns = ['Media', 'Media', 'Moda']
)

           Media        Media         Moda
AMZ  3299.830896  3312.530029  3052.030029
ETH  2927.195598  2885.090332  1369.040527